# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Firebase service account
/game-cloud-save-firebase-adminsdk-fbsvc-425d37c407.json
/game-cloud-save-db402-firebase-adminsdk-fbsvc-61cf0e51c2.json
.env.local

# Firebase web app config
/firebase.json
